.replayWrapper {
    position: relative;
}

.replayWrapper .game > button {
    display: none;
}

.replayWrapper .controls {
    position: absolute;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    top: 600px;
    width: 600px;
    left: calc(35% - 300px);
}

.replayWrapper .controls .playPause {
    display: flex;
    justify-content: space-around;
}
