.ant-input.deckName {
    font-size: 2em;
}

.startingCard {
    color: green;
}

.cardSearch {
    margin-top: 30px;
}

.allCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    justify-items: center;
}

.commands {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 1600px) {
  .allCards {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and (max-width: 1340px) {
  .allCards {
    grid-template-columns: 1fr 1fr;
  }

  .magiVignette {
    width: 100px;
    height: 100px;
    background-position: top -18px left -15px;
  }

  .magiCard .startingEnergy, .magiCard .energizeRate {
    top: 70px;
  }
}

.allCardsContainer {
    margin-top: 50px;
}

.allCards .cardImage {
    overflow: hidden;
    border-radius: 13px;
    width: 270px;
}

.cardImage img {
    filter: grayscale(100%);
}

.cardImage.canAdd img {
    filter: none;
}

.cardSlot {
    width: 270px;
    height: 399px;
    position: relative;
}

.cardSlot .addIcon {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.cardSlot .addIcon svg {
    filter: drop-shadow(2px 4px 6px black);
}

.cardSlot .addIcon:hover svg {
  color: white;
}

.deckHolderCol {
  border-left: 1px solid #ccc;
  box-shadow: -10px 0px 10px 1px #ccc;
  background-color: #cde;
}

.addIcon:hover svg {
  fill: #72b01d;
}

.addIcon:active svg {
  position: relative;
  width: 53px;
  height: 53px;
  left: 2px;
  top: 2px;
  transition: width .2s;
  transition: height .2s;
  transition: left .2s;
  transition: top .2s;
}
