:root {
  --magi-vignette-size: 100px;
  --magi-stat-holder-size: 30px;
}

.deckView {
  display: inline-block;
  font-size: 1em;
  color: var(--ant-menu-dark-item-color);
}

.deckView ul {
  padding-left: 10px;
}

.simpleCard {
  margin-left: 10px;
  display: flex;
}

.simpleCard .typeIcon {
  margin-right: 15px;
}

.cardActions {
  display: flex;
}

.cardActions .cardAdd.active:hover svg {
  fill: #72b01d;
}

.cardActions .cardRemove:hover svg {
  fill: #f95738;
}

.deckView li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.deckView .cardViewHolder {
  flex-grow: 1;
}

.cardCount {
  margin: 0 10px;
}

.magiHolder {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.magiCard {
  position: relative;
}

.magiCard .startingEnergy, .magiCard .energizeRate {
  position: absolute;
  border-radius: var(--magi-stat-holder-size);
  background-color: orange;
  width: var(--magi-stat-holder-size);
  height: var(--magi-stat-holder-size);
  line-height: var(--magi-stat-holder-size);
  text-align: center;
  top: calc(var(--magi-vignette-size) - var(--magi-stat-holder-size));
  user-select: none;
}

.magiCard .energizeRate {
  /* position: absolute;
  border-radius: var(--magi-stat-holder-size);
  background-color: orange;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 70px; */
  right: 1px;
  /* user-select: none; */
}

.magiCard .cardViewHolder {
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.magiVignette {
  width: var(--magi-vignette-size);
  height: var(--magi-vignette-size);
  background-position: top -25px left -18px;
  border-radius: calc(var(--magi-vignette-size) / 2);
  overflow: hidden;
  background-size: 140%;
}

.magiVignette.chosenMagi {
  box-shadow: 0 0 11px 9px green;
}

.cardRemove,
.cardAdd {
  margin: 0 10px;
}